.image-full{
    height: 750px;
    border: 1px solid blue;
    position: relative;
}

.container_imageFull {
    position: absolute;
    top: 0;
    left: 0;
}
.container_imageFull > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s;
}
.container_imageFull > img.active{
    opacity: 1;
}
.image-thumb{
    height: 150px;
    border: 1px solid red;
}
.image-thumb > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*** Posizionamento Testi ***/
.text-image-full{
    position: relative;
    text-align: right;
}
.title-image-full > h1,
.description-image-full > p {
    position: absolute;
    right: 20px;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s;
}
.title-image-full >h1.active{
    bottom: 80px;
    opacity: 1;
}
.description-image-full >p.active{
    bottom: 15px;
    opacity: 1;
}

/*** Posizionamento Freccie ***/
.arrow{
    position: absolute;
    background-color: lightgray;
    padding: 5px;
    border-radius: 50%;
}
.arrow-top{
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-bottom{
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}